body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image:
          -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248, 250, 218, 0.5) 4px, transparent 40px),
          -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 30px),
          -moz-radial-gradient(ellipse, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
          -moz-radial-gradient(ellipse, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);
  background-image:
          -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, rgba(233, 234, 228, 0.5)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
          -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;

  animation-name: movement;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -moz-animation-name: movement;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  -webkit-animation-name: movement;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.main_sidebar{
  margin:10px;
  background: #2E2A2A;
  box-shadow: 4px 4px 8px #3771B6;
}

.main_chat{
  max-width:900px;
  min-width: 800px;
  background: #2E2A2A;
  box-shadow: 4px 4px 8px #3771B6;
}

p{
  color:white;
}

h1{
  color: white;
}

.user{
  background: #C8C7C7;
  color: black;
  text-decoration: none;
}

main.light-theme{
  background: white;
}

.light.body{
  background: white;
}

@keyframes movement
{
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}
@-moz-keyframes movement
{
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}
@-webkit-keyframes movement
{
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}

